body {
  font-family: 'Open Sans', sans-serif;
}

.letter {
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: transparent;
  border-radius: 56px;
  position: absolute;
  top: 75px;
  width: 89px;
  height: 168px;
}

.letter.link {
  top: 385px;
}

.mail {
  margin-left: 13%;
}

.github {
  margin-left: 30.5%;
}

.linkedin {
  margin-left: 48%;
}

.stackoverflow {
  margin-left: 65.5%;
}

.link > img {
  margin-left: 32%;
}

.link.github > img {
  width: 41px;
  height: 27.5px;
  margin-top: 78%;
  margin-left: 28%;
}

.link.linkedin > img {
  width: 34px;
  height: 26px;
  margin-top: 78%;
}

.link.mail > img {
  width: 28px;
  height: 22px;
  margin-top: 82%;
}

.link.stackoverflow > img {
  width: 32px;
  height: 24px;
  margin-top: 79%;
}

.delimiter {
  width: 314px;
  border-width: 2px;
  margin-left: 5%;
  top: 250px;

  border-style: solid;
  border-color: #000000;
  background-color: #000000;
  border-radius: 8px 8px 8px 0;
  padding-bottom: 7px;
  margin-top: 25px;
  position: absolute;
}

.text {
  width: 387px;
  line-height: 22px;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 600;
  margin-top: 9px;
  user-select: none;
}

.row {
  position: relative;
}

.letter:hover {
  background-color: #000000
}

.letter.hover {
  background-color: #000000
}

.letter.q {
  margin-left: 5%;
}

.letter.q1 {
  width: 19px;
  height: 40px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  border-radius: 50px 0 50px 0;
  -webkit-transform: matrix(0,1,-1,0,47,14);
  -ms-transform: matrix(0,1,-1,0,47,14);
  transform: matrix(0,1,-1,0,47,14);
  margin-left: 7%;
  top: 208px;
}

.letter.o {
  margin-left: 25.5%;
}

.letter.r {
  margin-left: 46%;
  border-radius: 0 45px 0 0;
}

.letter.d {
  margin-left: 67%;
  border-radius: 0 45px 45px 0;
}

.letter.link {
  top: 340px;
}

.text {
  width: 316px;
  font-size: 15px;
  line-height: 18px;
}

.letter.mail {
  margin-left: 5%;
}

.letter.github {
  margin-left: 25.5%;
}

.letter.linkedin {
  margin-left: 46%;
}

.letter.stackoverflow {
  margin-left: 67%;
}

.container {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .letter {
    width: 112px;
    height: 210px;
  }

  .link.github > img {
    width: 46px;
    height: 34px;
    margin-top: 77%;
    margin-left: 29%;
  }

  .link.linkedin > img {
    width: 42px;
    height: 31px;
    margin-top: 78%;
    margin-left: 31%;
  }

  .link.mail > img {
    width: 35px;
    height: 27px;
    margin-top: 82%;
    margin-left: 34%;
  }

  .link.stackoverflow > img {
    width: 40px;
    height: 30px;
    margin-top: 79%;
    margin-left: 34%;
  }

  .letter:hover {
    background-color: #000000
  }

  .letter.link {
    top: 415px;
  }

  .letter.q, .letter.mail {
    margin-left: 13.5%;
  }

  .letter.q1 {
    width: 26px;
    height: 55px;
    margin-left: 17%;
    top: 243px;
  }

  .letter.o, .letter.github {
    margin-left: 30.5%;
  }

  .letter.r, .letter.linkedin {
    margin-left: 47.5%;
  }

  .letter.r {
    border-radius: 0 56px 0 0;
  }

  .letter.d, .letter.stackoverflow {
    margin-left: 64.5%;
  }

  .letter.d {
    border-radius: 0 56px 56px 0;
  }

  .delimiter {
    width: 385px;
    border-width: 2px;
    margin-left: 14%;
    top: 305px;
    padding-bottom: 12px;
  }

  .text {
    width: 383px;
    font-size: 18px;
    margin-top: 11px;
  }
}

@media (max-width: 360px) {
  .container {
    max-width: 210px;
  }

  .letter {
    width: 53px;
    height: 100px;
    border-width: 2px;
  }

  .letter:hover {
    background-color: #000000
  }

  .letter.q1 {
    width: 12px;
    height: 25px;
    border-width: 2px;
    margin-left: -2.5%;
    top: 149px;
  }

  .letter.q {
    margin-left: 5%;
  }

  .letter.o {
    margin-left: 25.5%;
  }

  .letter.r {
    margin-left: 46%;
    border-radius: 0 28px 0 0;
  }

  .letter.d {
    margin-left: 67%;
    border-radius: 0 28px 28px 0;
  }

  .delimiter {
    width: 180px;
    margin-left: 6%;
    top: 170px;
    padding-bottom: 0;
  }

  .text {
    width: 183px;
    font-size: 10px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-top: 2px;
    font-weight: 400;
  }

  .letter.link {
    top: 235px;
  }

  .link.github > img {
    width: 21px;
    height: 15.4px;
    margin-top: 78%;
    margin-left: 31%;
  }

  .link.linkedin > img {
    width: 19px;
    height: 14px;
    margin-top: 78%;
    margin-left: 31%;
  }

  .link.mail > img {
    width: 16px;
    height: 12px;
    margin-top: 82%;
    margin-left: 34%;
  }

  .link.stackoverflow > img {
    width: 18px;
    height: 13.5px;
    margin-top: 79%;
    margin-left: 34%;
  }
}
